In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import math as m
import scipy.stats as stats

In [12]:
df = pd.read_csv("machine.txt",encoding='utf-16', sep='\t')

In [13]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   New machine      10 non-null     float64
 1       Old machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [15]:
df.columns

Index(['New machine', '    Old machine'], dtype='object')

### We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In [16]:
new = df.iloc[:, 0]
old = df.iloc[:, 1]

In [17]:
new

0    42.1
1    41.0
2    41.3
3    41.8
4    42.4
5    42.8
6    43.2
7    42.3
8    41.8
9    42.7
Name: New machine, dtype: float64

In [18]:
old

0    42.7
1    43.6
2    43.8
3    43.3
4    42.5
5    43.5
6    43.1
7    41.7
8    44.0
9    44.1
Name:     Old machine, dtype: float64

In [19]:
def normality(df):
    test_stat_normality, p_value_normality=stats.shapiro(df)
    print("p value:%.4f" % p_value_normality)
    if p_value_normality <0.05:
        print("Reject null hypothesis >> The data isn't normally distributed")
    else:
        print("Fail to reject null hypothesis >> The data is normally distributed")

In [20]:
normality(old)
normality(new)# checking for old and new

p value:0.5010
Fail to reject null hypothesis >> The data is normally distributed
p value:0.9676
Fail to reject null hypothesis >> The data is normally distributed

In [21]:
ttest, pvalue = stats.ttest_ind(new, old, alternative = "less")
print("pvalue:", pvalue)
if pvalue < 0.05:
    print("reject Null Hypothesis")
else:
    print("no evidence to reject Null Hypothesis")

pvalue: 0.0016055712503872579
reject Null Hypothesis

In [ ]:
#there is no much differrences between the old and new machine.

## An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

In [25]:
df = pd.read_csv("student_gpa.txt", sep='\t')
df

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [26]:
sophomores=df.iloc[:,0]
juniors= df.iloc[:,1]

In [27]:
juniors = juniors[~juniors.isna()]

In [29]:
def normality(df):
    test_stat_normality, p_value_normality=stats.shapiro(df)
    print("p value:%.4f" % p_value_normality)
    if p_value_normality <0.05:
        print("Reject null hypothesis >> The data isn't normally distributed")
    else:
        print("Fail to reject null hypothesis >> The data is normally distributed")

In [30]:
normality(sophomores)
normality(juniors)# checking for sophomores and juniors

p value:0.3154
Fail to reject null hypothesis >> The data is normally distributed
p value:0.4130
Fail to reject null hypothesis >> The data is normally distributed

In [31]:
ttest, pvalue = stats.ttest_ind(sophomores, juniors, alternative = "less")
print("pvalue:", pvalue)
if pvalue < 0.05:
    print("reject Null Hypothesis")
else:
    print("no evidence to reject Null Hypothesis")

pvalue: 0.19737679833347987
no evidence to reject Null Hypothesis

In [ ]:
#sophormores and juniors are the same.